<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PIPlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TFSUri" value="http://yourtfs:8080/project"/>
    <add key="DefaultProject" value="MyProject"/>
    <add key="WorkItemQueryFilter" value=" AND [Work Item Type] = 'User Story'"/>
    <add key="AutoRefreshInterval" value="50000"/>
  </appSettings>
  <userSettings>
    <PIPlanner.Properties.Settings>
      <setting name="LastProject" serializeAs="String">
        <value />
      </setting>
      <setting name="LastFilter" serializeAs="String">
        <value />
      </setting>
    </PIPlanner.Properties.Settings>
  </userSettings>
</configuration>
